<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= researcherName + " " + researcherSurname%></title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Include your custom CSS file -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1 class="text-left mb-4">Publications of <strong><%= researcherName + " " + researcherSurname%></strong></h1>
        <h6 class="text-left"><strong>University and Department: </strong><%= uni_and_dep %></h6>
        <h6 class="text-left"><strong>Role: </strong><%= researcherGrade %></h6>
        <h6 class="text-left"><strong>SSD: </strong><%= researcherSSD %></h6>
        <h6 class="text-left"><strong>Total Publications: </strong><%= numberOfPublications %></h6>
        <h6 class="text-left"><strong>H-index: </strong><%= hIndex %></h6>
        <h6 class="text-left"><strong>Total citations: </strong><%= citations %></h6>
        <div id="publications">
            <% if (publications.length > 0) { %>
                <% publications.forEach(publication => { %>
                    <div class="publication">
                        <div class="title">
                            <a href="<%= publication.publicationLink %>" target="_blank">
                                <%= publication.title %>
                            </a>
                        </div>
                        <div class="authors">Authors: <%= publication.authors %></div>
                        <div class="year">Year: <%= publication.year %></div>
                        <div class="citation-count">Citations: <%= publication.citationCount %></div>
                        <div class="paper-type">Type: <%= publication.paperType %></div>
                    </div>
                <% }) %>
            <% } else { %>
                <p>Nessuna pubblicazione trovata.</p>
            <% } %>
        </div>
    </div>
</body>
</html>
