<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ricerca ricercatori</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Include your custom CSS file -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #f4f4f4;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
            background: white;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .publication {
            border-bottom: 1px solid #ddd;
            padding: 10px 0;
        }
        .publication:last-child {
            border-bottom: none;
        }
        .title {
            font-weight: bold;
            font-size: 1.2em;
        }
        .authors, .year, .citation-count {
            color: #555;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2 class="text-center mb-4">Publications of <%= researcherName + " " + researcherSurname%></h2>
        <h3 class="text-center mb-4">H-index of <%= hIndex %></h3>
        <h3 class="text-center mb-4">n° of citations <%= citations %></h3>
        <div id="publications">
            <% if (publications.length > 0) { %>
                <% publications.forEach(publication => { %>
                    <div class="publication">
                        <div class="title">
                            <a href="<%= publication.publicationLink %>" target="_blank">
                                <%= publication.title %>
                            </a>
                        </div>
                        <div class="authors">Authors: <%= publication.authors %></div>
                        <div class="year">Year: <%= publication.year %></div>
                        <div class="citation-count">Citations: <%= publication.citationCount %></div>
                        <div class="paper-type">Type: <%= publication.paperType %></div>
                    </div>
                <% }) %>
            <% } else { %>
                <p>Nessuna pubblicazione trovata.</p>
            <% } %>
        </div>
    </div>
</body>
</html>
