<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ricerca ricercatori</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Include your custom CSS file -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1 class="text-center mb-4">Search Researcher</h1>
        <form action="/search_researchers" method="get">
            <div class="form-group"> <!-- Use Bootstrap form-group for better styling -->
                <text for="researcherFirstName">Name:</text>
                <input type="text" class="form-control form-control-lg" id="researcherFirstName" name="researcherFirstName" required>
                
                <text for="researcherLastName">Surname:</text>
                <input type="text" class="form-control form-control-lg" id="researcherLastName" name="researcherLastName" required>
            </div>
            <button class="btn btn-primary" type="submit">Search</button> <!-- Use Bootstrap btn classes -->
        </form>
        <% if (researchers && researchers.length > 0) { %>
            <h2>Results:</h2>
            <ul class="list-group">
                <% researchers.forEach(researcher => { %>
                    <li class="list-group-item">
                        <strong>Surname:</strong> <%= researcher.lastName %><br>
                        <strong>Name:</strong> <%= researcher.firstName %><br>
                        <strong>University and Department:</strong> <%= researcher.university + ", " + researcher.faculty + " " + researcher.structure %><br>
                        <strong>Role:</strong> <%= researcher.grade %><br>
                        <strong>S.S.D.:</strong> <%= researcher.ssd %><br>
                        <form action="/search_publications" method="GET">
                            <input type="hidden" name="cinecaID" value="<%= researcher._id %>">

                            <button type="submit" class="btn btn-info mt-2">Show Publications</button>
                        </form>
                    </li>
                <% }) %>
            </ul>
        <% } else if (researchers && researchers.length === 0) { %>
            <p>Nessun ricercatore trovato.</p>
        <% } %>
    </div>
</body>
</html>
