<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ricerca ricercatori</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Include your custom CSS file -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1 class="text-center mb-4">Ricerca Ricercatori</h1>
        <form action="/search_researchers" method="get">
            <div class="form-group">
                <label for="researcherName">Nome del ricercatore:</label>
                <input type="text" class="form-control" id="researcherName" name="researcherName" placeholder="Inserisci il nome del ricercatore">
            </div>
            <button class="btn btn-primary" type="submit">Cerca</button>
        </form>
        <% if (researchers && researchers.length > 0) { %>
            <h2>Risultati della ricerca:</h2>
            <ul class="list-group">
                <% researchers.forEach(researcher => { %>
                    <li class="list-group-item">
                        <strong>Surname:</strong> <%= researcher.lastName %><br>
                        <strong>Name:</strong> <%= researcher.firstName %><br>
                        <!-- <strong>Gender:</strong> <%= researcher.gender %><br> -->
                        <strong>University and Department:</strong> <%= researcher.university + ", " + researcher.faculty + " " + researcher.structure %><br>
                        <!-- <strong>Facoltà:</strong> <%= researcher.faculty %><br> -->
                        <strong>Role:</strong> <%= researcher.grade %><br>
                        <strong>S.S.D.:</strong> <%= researcher.ssd %><br>
                        <!-- <strong>S.C.:</strong> <%= researcher.sc %><br> -->
                        <!-- <strong>Struttura di afferenza:</strong> <%= researcher.structure %><br> -->
                        <!-- <strong>Servizio prestato in altro ateneo:</strong> <%= researcher.otherUniversityService %><br> -->
                        <form action="/search_publications" method="GET">
                            <input type="hidden" name="cinecaID" value="<%= researcher._id %>">
                            <!-- <input type="hidden" name="uni" value="<%= researcher.university %>">
                            <input type="hidden" name="name" value="<%= researcher.firstName %>">
                            <input type="hidden" name="surname" value="<%= researcher.lastName %>">
                            <input type="hidden" name="grade" value="<%= researcher.grade %>">
                            <input type="hidden" name="ssd" value="<%= researcher.ssd %>">
                            <input type="hidden" name="uni_and_dep" value="<%= researcher.university + ', ' + researcher.faculty + ' ' + researcher.structure %>"> -->
                            <button type="submit" class="btn btn-info mt-2">Visualizza Pubblicazioni</button>
                        </form>
                    </li>
                <% }) %>
            </ul>
        <% } else if (researchers && researchers.length === 0) { %>
            <p>Nessun ricercatore trovato.</p>
        <% } %>
    </div>
</body>
</html>
